a.skip {
    position: absolute;
    top: -200px;
    left: -400px;
    }

a.skip:focus {
    text-decoration-line: overline;
    text-decoration-thickness: 10px;
    text-decoration-color: yellow;
    background-color: #ffffff;
    outline: none;
    top: 0;
    left: 0;
    }

.menu {
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 18px;
    padding: 14px 16px;
}

* {
    box-sizing: inherit;
}

nav li {
    padding: 0 20px 0 20px;
    align-items: center;
    margin: 5px;
    padding: 5px;
    background-color: lavender;
    border-radius: 25px;
}

nav a {
    color: #e0218a;
    text-transform: lowercase;
}

.current {
    background-color: white;
}

.menu, .current {
    text-transform: uppercase;
}

body {
    background-color: #e1f3f8;
}

div img {
    display: block;
    margin: 0 auto;
    width: 200px;
    background-color: lavender;
    border-radius: 25px;
    padding: 20px;
}

img {
    margin: 40px 0 40px 0;
    border-radius: 100%;
}

h1 {
    font-family: "Brush Script MT Italic",'Pacifico', cursive, script;
    font-size: 40pt;
    color: #e0218a;
    text-align: center;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20pt;
    margin: 20px;
}

h3 {
    font-size: 15pt;
    font-family: cursive;
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.75;
    margin: 40px 20px 40px 20px;

}

div ul {
    margin-left: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.75;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: auto;
}

.movie {
    background-color: aliceblue;
    border-radius: 25px;
    margin: 20px;
    padding: 10px;
    background: rgba(255,255,255,.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255,255,255,0.2);
}

iframe {
    display: block;
    margin: 0 auto;}

.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.video iframe, .videos object, .video embed {
    top:0;
    left:0;
    width:100%;
    height:100%;
    position:absolute;
    }

#myBtnContainer {
    grid-column: span 1;
    justify-self: center;
}

.btn {
    background-color: white;
}

.container {
    overflow: hidden;
  }
  
  .filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none; /* Hidden by default */
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Add a light grey background on mouse-over */
  .btn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background to the active button */
  .btn.active {
    background-color: #666;
    color: white;
  }


@media screen and (min-width: 700px) {
    .grid {
        grid-template-columns: auto auto;
    }
    #myBtnContainer {
        grid-column: span 2;
        justify-self: center;
    }
    .menu {
        flex-direction: row;
        justify-content: space-around;
    }
    nav li {
        padding: 15px;
    }
    .timeline-section ul li div {
        width: 25rem;
    }
    .timeline-section ul li:nth-child(even) div {
        left: -289px;
    }
  }

  @media screen and (min-width: 1100px) {
    .grid {
        grid-template-columns: auto auto auto;
    }
    #myBtnContainer {
        grid-column: span 3;
        justify-self: center;
    }
    .menu {
        align-content: right;
    }
    nav li {
        padding: 20px;
        border-radius: 0;
    }

  }




