a.skip {
    position: absolute;
    top: -200px;
    left: -400px;
    }

a.skip:focus {
    text-decoration-line: overline;
    text-decoration-thickness: 10px;
    text-decoration-color: yellow;
    background-color: #ffffff;
    outline: none;
    top: 0;
    left: 0;
    }

.menu {
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 18px;
    padding: 14px 16px;
}

* {
    box-sizing: inherit;
}

nav li {
    padding: 0 20px 0 20px;
    align-items: center;
    margin: 5px;
    padding: 5px;
    background-color: floralwhite;
    border-radius: 25px;
}

nav a {
    color: #e0218a;
    text-transform: lowercase;
}

.current {
    background-color: white;
    border-radius: 0;
}

.menu, .current {
    text-transform: uppercase;
}

body {
    background-color: #e1f3f8;
}

div img {
    display: block;
    margin: 0 auto;
    width: 200px;
    background-color: lavender;
    border-radius: 25px;
    padding: 20px;
}

img {
    margin: 40px 0 40px 0;
    border-radius: 100%;
}

h1 {
    font-family: "Brush Script MT Italic",'Pacifico', cursive, script;
    font-size: 40pt;
    color: #e0218a;
    text-align: center;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20pt;
}

h3 {
    font-size: 15pt;
    font-family: cursive;
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.75;
    margin: 20px;
}

div ul {
    margin-left: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.75;
}

/* styling the timeline source https://www.section.io/engineering-education/building-an-animated-vertical-timeline-chart-with-html-css-and-javascript/  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --light-blue: lavender;
    --color-blue: #e0218a;
    --color-dark-grey: #0e5ed7;
}

html {
    font-size: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.intro-text {
    background-color: none;
    color: #e0218a;
    padding: 2rem 0;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.intro-text h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1.5rem;
    padding-top: 2rem;
    line-height: 1.6;
}

.timeline-section {
    width: 50%;
    overflow: hidden;  /* creates block formatting context */
    margin-left: auto;
    margin-right: auto;
}

.timeline-section ul {
    background: var(--light-blue);
    padding: 5rem 0; /* padding top and bottom 5rem */
}

.timeline-section ul li {
    list-style: none;
    position: relative;
    width: 5px; /* set width to 5px then set background to lightblue for that width */
    margin: 0 auto; /* center text */
    padding-top: 5rem; /* separate each list with a padding-top of 5rem = 5 x 10px= 50px */
    background: var(--color-blue);
}

/*This section will help us make the node-like structure - The circle*/
.timeline-section ul li::after {
    content: ""; /* The content attribute is required for pseudo-elements to render */
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: inherit; /* inherits this property from its parent element */
}

.timeline-section ul li div {
    width: 40rem;
    font-size: 1.2rem;
    position: relative;
    bottom: 0;
    padding: 1.5rem;
    /*glassmorphism effect*/
    background: rgba(255,255,255,.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255,255,255,0.2);
}

/* This code starts the production of the triangle at the bottom of each event-card*/
.timeline-section ul li div::before {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}
/*This is to select the divs at odd position so we can separate the divs to the right-hand side of the timeline*/
.timeline-section ul li:nth-child(odd) div {
    left: 45px;  /* this style pushes the divs at odd number position to the right */
}

/*this showcases the triangle for the event-cards at the odd number position*/
.timeline-section ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--light-blue) transparent transparent;
}

/*This is to select the divs at an even number position so we can separate the divs to the left-hand side of the timeline*/
.timeline-section ul li:nth-child(even) div {
    left: -439px;
}

/*this showcases the triangle for the event-cards at the odd number position*/
.timeline-section ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent var(--light-blue); 
}

h2 {
    display: block;
    font-size: 1.7rem;
    font-weight: 800;
    margin-bottom: 7px;
}

time {
    display: block;
    font-size: 2.1rem;
    margin-bottom: 7px;
}

.timeline-section ul li::after {
    transition: all 0.5s ease-in-out;
}  

 
/*this changes the node content..giving it a background of white and making the border thicker*/
.timeline-section ul li.slide-in::after {
    background: var(--white);
    border: 3px solid var(--light-blue);
}

/* Hide event card initially */
.timeline-section ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
  
.timeline-section ul li:nth-child(odd) div {
    transform: translateX(20rem);
}

.timeline-section ul li:nth-child(even) div {
    transform: translateX(-20rem);
}

/* display the event card */
.timeline-section ul li.slide-in div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

/* mobile or default display */

.timeline-section ul li {
    margin-left: 2rem;
}

.timeline-section ul li div {
    width: calc(100vw - 91px);
}

.timeline-section ul li:nth-child(even) div {
    left: 45px;
}

.timeline-section ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--light-blue) transparent transparent;
}



/* end timeline styling */

/* nav ul li {
    list-style-type: none;
} */

@media screen and (min-width: 700px) {
    .menu {
        flex-direction: row;
        justify-content: space-around;
    }
    nav li {
        padding: 15px;
    }
    .timeline-section ul li div {
        width: 25rem;
    }
    /* .timeline-section ul li:nth-child(even) div {
        left: -289px;
    } */
  }

@media screen and (min-width: 1000px) {
    .menu {
        align-content: right;
    }
    nav li {
        padding: 20px;
        border-radius: 0;
    }
  }